.shoping-cart-wrapper {
    font-weight: bold;
    padding: 20px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
        0px 2px 2px 0px rgba(0, 0, 0, 0.14),
        0px 3px 1px -2px rgba(0, 0, 0, 0.12);
    margin-bottom: 30px;
}

.book-stok {
    margin-top: 10px;
    opacity: 0.5;
}

.empty-cart {
    width: 200px;
    height: auto;
    opacity: 0.2;
}

.purchase-btn {
    margin-bottom: 20px;
}
